.c {
  &-nav_header {
    display: flex;
    justify-content: space-between;
    padding: var(--size-4);
    align-items: center;
    background: var(--color-primary-tint-500);
    font-size: var(--fs-14);
  }
}
